---
import Layout from '../../../layouts/Layoutadmin.astro';
import AdminForm from '../../../components/admin/Koleksi.astro';
---

<Layout title="Koleksi">
  <main>
    <AdminForm />
  </main>
</Layout> 
