---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import AdminForm from '../components/Admin.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Admin - Dye Apparel">
  <main>
    <HeroSection 
      title="STAF" 
      description="Kelola Semua Koleksi Desain Yang Ada."
    />
    <AdminForm />
  </main>
</Layout> 
