---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Koleksi from '../components/Koleksi.astro';
import Bahan from '../components/bahan.astro';
import Faq from '../components/faq.astro';
import Footer from '../components/Footer.astro';
import Wapop from '../components/wapop.astro';
---

<Layout title="Dye Apparel">
 



    <Header />
 

  <main>
    <!-- Hero animasi fade-up, delay 100ms -->

      <Hero />


    <!-- Features animasi fade-up, delay 200ms -->

      <Koleksi />


    <!-- Bahan animasi fade-up, delay 300ms -->

      <Bahan />


    <!-- Faq animasi fade-up, delay 400ms -->

      <Faq />

      
    

  </main>

  <!-- Footer animasi fade-up, delay 500ms -->

    <Footer />


  <!-- Skrip Transitions (inline atau import dari transitions.js) -->

</Layout>
  <Wapop />