---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import MenuList from "~/components/Produk.astro";
---

<Layout
	pageTitle="Produk - Grafika Printing Gemilang"
	description="Percetakan Kertas Profesional"
	>
	<Section class:list={"bg-gradient-to-b from-brand-green/10 to-white"}>
		<Heading>
			<h1 slot="heading-title" class="font-black text-brand-green h2">Produk</h1>
		</Heading>

		<MenuList />
	</Section>
</Layout>
