---
import Layout from '../../layouts/Layoutadmin.astro';
import Dashboard from '../../components/admin/Dashboard.astro';
---

<Layout title="Dashboard">
  <main>
    <Dashboard />
  </main>
</Layout> 
