---
import Layout from '~/layouts/Layout.astro';
import Section from '~/components/Section.astro';
import AdminForm from '~/components/admin.astro';
---

<Layout
	pageTitle="Admin - Grafika Printing Gemilang"
	description="Percetakan Kertas Profesional"
	>
  <Section class:list={"bg-gradient-to-b from-brand-green/10 to-white"}>

    <AdminForm />
  </Section>
</Layout>
