---
import Layout from '../../../layouts/Layoutadmin.astro';
import Katalog from '../../../components/admin/Katalog.astro';
---

<Layout title="Katalog">
  <main>
    <Katalog />
  </main>
</Layout> 
